<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ADMIN DASHBOARD</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel ="stylesheet" type="text/css" href="../../css/style.css"/>
   
</head>

<body>
    <div class= "d-flex justify-content-center pt-5">
        <div class="container-sm pt-5 bg-light pb-5">
            <div style= " float:right">     
                <form align="right" name="form" method="post" action="login.html">
                    <label class="logout" for="logout">
                    <input type="button" name="logout" id="logout" value="Logout" 
                        onclick="location.href='../logout';">
                    </label>
                </form>
            </div> 

            <div class="form-row pt-5">
                <div class="form-group pt-2 pl-2 pr-2">
                    <button type="button" class="Cancel btn-secondary float-right" 
                        onclick="location.href='adminuseraccountaccesshelp';">USER ACCOUNT ACCESS HELP</button>
                </div>

                <div class="form-group pt-2 pl-2 pr-2">
                    <button type="button" class="Cancel btn-secondary float-right" 
                        onclick="location.href='viewmodifyuser';">VIEW OR MODIFY USERS</button>
                </div>

                <div class="form-group pt-2 pl-2 pr-2">
                    <button type="button" class="Cancel btn-secondary float-right" 
                        onclick="location.href='viewmodifyproduct';">VIEW OR MODIFY PRODUCTS</button>
                </div>

                <div class="form-group pt-2 pl-2 pr-2">
                    <button type="button" class="Cancel btn-secondary float-right"
                        onclick="location.href='adminpaymenthelp';">PAYMENT HELP</button>
                </div>

                <div class="form-group pt-2 pl-2 pr-2">
                    <button type="button" class="Cancel btn-secondary float-right" 
                        onclick="location.href='../homepage';">RETURN TO HOMEPAGE</button>
                </div>

            </div>
        </div>
    </div>

</body>
</html>