<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View and modify product</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <script>
         $(document).ready(function() {
			
			// clean URL
			var url = window.location.toString();
			if (url.indexOf("?") > 0) {
				var clean_url = url.substring(0, url.indexOf("?"));
				window.history.replaceState({}, document.title, clean_url);
			}
			
			// clean input validate msg
			$("#message_text").empty();

			// validate input before submitting POST-request
			$("#block_product").click( function(event) {

				// clean input validate msg
				$("#message_text").empty();

				// validate input
				var userName = $("#user_name").val().trim();
				var productId = $("#product_id").val().trim();
				
				var anyErrors = false;
                console.log("===>"+userName,productId)
				
				// all fields are empty, nothing to edit
				if ( productId === "") {
					$("#message_text").append("<p>Error: New Password is empty. Nothing to update!</p>" );
					anyErrors = true;
				} else {
					// validate new password is different from current password
					if ( productId === userName ) {
						$("#message_text").append("<p>Error: New Password is the same as current Password! Nothing to update!</p>" );
						anyErrors = true;
					}

					// validate current password not empty
					if ( userName === "" ) {
						$("#message_text").append("<p>Error: Current Password cannot be empty! Please enter your current Password!</p>" );
						anyErrors = true;
					}

					
				}

				// if error, prevent submit
				if (anyErrors){
					event.preventDefault();
				} else {
					// no error, submit POST-request
					$.ajax({
						method : "PUT",
						url : "/admin/block_product",
						data : {
							userName: userName,
							productId: productId
						},
						dataType: "json",
						success: function(result){
							// alert(result.message);
                            console.log("error in message1")
							$("#message_text").empty();
							$("#message_text").html(result.message);
						},
						error: function(xhr, status, err){
                            console.log("error in message101")
							$("#message_text").empty();
							// var errorMsg = xhr.responseJSON.message;
							// $("#message_text").html(errorMsg);
						},
						complete: function() {
                            console.log("all good")
							$("#user_name").val("");
							$("#productId").val("");
						}
					});
				}				
			} );

            $("#delete_product").click( function(event) {

        // clean input validate msg
        $("#message_text").empty();

        // validate input
        var userName = $("#user_name").val().trim();
        var productId = $("#product_id").val().trim();

        var anyErrors = false;
        console.log("===>"+userName,productId)

        // all fields are empty, nothing to edit

        if ( productId === "") {
					$("#message_text").append("<p>Error: New Password is empty. Nothing to update!</p>" );
					anyErrors = true;
				} else {
					// validate new password is different from current password
					if ( productId === userName ) {
						$("#message_text").append("<p>Error: New Password is the same as current Password! Nothing to update!</p>" );
						anyErrors = true;
					}

					// validate current password not empty
					if ( userName === "" ) {
						$("#message_text").append("<p>Error: Current Password cannot be empty! Please enter your current Password!</p>" );
						anyErrors = true;
					}

					
				}

            

        // if error, prevent submit
        if (anyErrors){
            event.preventDefault();
        } else {
            // no error, submit POST-request
            $.ajax({
                method : "PUT",
                url : "/admin/delete_product",
                data : {
                    userName: userName,
                },
                dataType: "json",
                success: function(result){
                    // alert(result.message);
                    console.log("error in message1")
                    $("#message_text").empty();
                    $("#message_text").html(result.message);
                },
                error: function(xhr, status, err){
                    console.log("error in message101")
                    $("#message_text").empty();
                    // var errorMsg = xhr.responseJSON.message;
                    // $("#message_text").html(errorMsg);
                },
                complete: function() {
                    $("#user_name").val("");
                    $("#productId").val("");
                }
            });
        }				
        } );

		});	
    </script>
       

</head>

<body>
    <div class="container-sm bg-light w-50 align-items-center pt-5 mx-auto">
        <div style="float:right">
            <form align="right" name="form" method="post" action="login.html">
                <label class="logout">
                <input name="submitt" type="submit" id="submitt" value="log out">
                </label>
            </form>
        </div>

        <h4 class="container-sm mx-auto"><b>VIEW AND MODIFY PRODUCTS </b></h4>
        
        <form method ="GET" >
            <div class="form-group pt-3">
                <label class="form-label">Enter Product Id</label>
                <input type="text" id="product_id" class="form-control" style="width:50%" required="true">
            </div>

            <div class="form-group pt-3">
                <label class="form-label">Enter Username of the product posted</label>
                <input type="text" id="user_name" class="form-control" style="width:50%" required="true">
            </div>

            <div class="align">
                <h3 id="message_text"></h3>
            </div>

            <div class="container-sm pl-5 pt-5 mx-auto">
                <button type="submit" id="block_product" class="modify btn-secondary ">Block Product</button>
                <button type="submit" id="delete_product" class="delete btn-secondary ">Delete Product</button>
            </div> 

        </form>
    </div>
    
</bosdy>
</html>
