<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>view and modify user</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel ="stylesheet" type="text/css" href="../css/product_style.css"/>
    
</head>

<body>
    <div class="container-sm bg-light w-50 align-items-center pt-5 mx-auto">
        <div style="float:right">
            <form align="right" name="form" method="post" action="login.html">
                <label class="logout">
                <input name="submitt" type="submit" id="submitt" value="log out">
                </label>
            </form>
        </div>      

        <h4 class="container-sm mx-auto"><b>VIEW AND MODIFY USER </b></h4>

        <form method ="GET">
            <div class="form-row  pt-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="flexSwitchCheckDefault" id="flexSwitchCheckDefault" />
                    <label class="form-check-label" for="flexSwitchCheckDefault">Block User</label>
                </div> 

                <div class="form-row pt-5 float-left">
                    <label class="form-label">Temporary Password &nbsp;  </label>
                    <input type="password" class="form-control" style="width:50%" required="true">
                </div>
            </div>

            <div class="container-sm pl-5 pt-5 mx-auto">
                <button type="submit" onclick="alert('Modification is saved successfully')"onclick="location.href = 'admindashboard.html';" formaction="admindashboard.html" name="action" value="update"class="modify btn-secondary ">SAVE</button>
                <button type="submit" onclick="location.href = 'viewmodifyuser.html';" formaction="viewmodifyuser.html" name ="action" value="delete" class="back btn-secondary ">Back</button>
            </div> 
            
        </form>

    </div>

</body>
</html>