<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Payment Details</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel ="stylesheet" type="text/css" href="../css/product_style.css"/>

    </head>

<body >
    <div class="container-sm pt-5 bg-light align-center">
         <div style="float:right">
            <form align="right" name="form" method="post" action="login.html">
                <label class="logout">
                <input name="submit" type="submit" id="submit" value="log out">
                </label>
            </form>
        </div>

        <h3>Payment Help</h3>         

        <div class="form-row pt-5 ">
            <h4 style="padding: 0 40px 0 0;"><b>User Id &nbsp; : </b></h4>
            <h4 id ="userid">userid</h4>
            <script>
                document.querySelector("#userid").innerHTML = localStorage.getItem('userid1') ; 
            </script>
                
        </div>

        <div class="form-row pt-3" >
            <h4><b> Transaction Id &nbsp; :</b></h4>
            <h4 id="transactionid">transactionid</h4> 
            <script>
                document.querySelector("#transactionid").innerHTML = localStorage.getItem('transactionid1') ; 
            </script>
        </div>
        
        <div class="form-group pt-5 pl-5">
            <h4 style="color:green;"> Payment Successful!</h4>
        </div>
        
        <div class="form-group pl-5 pt-5">
            <button onclick="location.href = 'admindashboard.html';" type="submit"  class="Cancel btn-secondary float-left">DONE</button>
        </div>
    </div>

</body>

</html>