<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin delete user</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel ="stylesheet" type="text/css" href="product_style.css"/>
       
</head>

<body>
    <div class="container-sm bg-light w-50 align-items-center pt-5 mx-auto">
         <div style="float:right">
            <form align="right" name="form" method="post" action="login.html">
                <label class="logout">
                <input name="submitt" type="submit" id="submitt" value="log out">
                </label>
            </form>
        </div>

        <h4 class="container-sm mx-auto"><b>VIEW AND MODIFY USER </b></h4>

        <h4 Style="padding-top:50px ; padding-bottom:50px ; color:green">  USER DELETED SUCCESSFULLY !!!</h4>
        
        <button onclick="location.href = 'admindashboard.html';" class="Done btn-secondary ">DONE!</button>

    </div>
</body>
</html>
