<html>
<head>
	<title> User Update Profile - Change Password</title>

	<link rel ="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
	<link rel ="stylesheet" type="text/css" href="../css/style.css"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
		//
		$(document).ready(function() {
			
			// clean URL
			var url = window.location.toString();
			if (url.indexOf("?") > 0) {
				var clean_url = url.substring(0, url.indexOf("?"));
				window.history.replaceState({}, document.title, clean_url);
			}
			
			// clean input validate msg
			$("#message_text").empty();

			// validate input before submitting POST-request
			$("#password_save").click( function(event) {

				// clean input validate msg
				$("#message_text").empty();

				// validate input
				var currentPassword = $("#current_password").val().trim();
				var newPassword = $("#new_password").val().trim();
				var confirmPassword = $("#confirm_password").val().trim();
				
				var anyErrors = false;
				
				// all fields are empty, nothing to edit
				if ( newPassword === "") {
					$("#message_text").append("<p>Error: New Password is empty. Nothing to update!</p>" );
					anyErrors = true;
				} else {
					// validate new password is different from current password
					if ( newPassword === currentPassword ) {
						$("#message_text").append("<p>Error: New Password is the same as current Password! Nothing to update!</p>" );
						anyErrors = true;
					}

					// validate current password not empty
					if ( currentPassword === "" ) {
						$("#message_text").append("<p>Error: Current Password cannot be empty! Please enter your current Password!</p>" );
						anyErrors = true;
					}

					// validate length of new password field
					if (newPassword.length < 6){
						$("#message_text").append("<p>Error: New Password must be at least 6 characters!</p>" );
						anyErrors = true;
					}
					// validate password match
					if (newPassword !== confirmPassword){
						$("#message_text").append("<p>Error: New Password & Confirm Password do not match!</p>" );
						anyErrors = true;
					}
				}

				// if error, prevent submit
				if (anyErrors){
					event.preventDefault();
				} else {
					// no error, submit POST-request
					$.ajax({
						method : "PUT",
						url : "/change_pass",
						data : {
							currentPassword: currentPassword,
							newPassword: newPassword
						},
						dataType: "json",
						success: function(result){
							//alert(result.message);
							$("#message_text").empty();
							$("#message_text").html(result.message);
						},
						error: function(xhr, status, err){
							$("#message_text").empty();
							var errorMsg = xhr.responseJSON.message;
							$("#message_text").html(errorMsg);
						},
						complete: function() {
							$("#current_password").val("");
							$("#new_password").val("");
							$("#confirm_password").val("");
						}
					});
				}				
			} );
		});			
	</script>

</head>

<body>
	<div class="container">
		<div>
			<div class ="row center-screen" >
				<div class ="col-md-6 ">
					<h2> Edit Profile </h2>
					<h3> Change Password </h3>
					
					<div class="form-group ">
						<label>Current Password</label>
						<input type ="password" name="current_password" id="current_password" class="form-control" required>
					</div>
					
					<div class="form-group">
						<label>New Password</label>
						<input type ="password" name="new_password" id="new_password" class="form-control" required>
						<label>Confirm Password</label>
						<input type ="password" name="confirm_password" id="confirm_password" class="form-control" required>
					</div>

					<div class="align">
						<h3 id="message_text"></h3>
					</div>

					<div>
						<button type="submit" name="password_save" id="password_save" class="btn btn-primary" > Save Change </button>
						<button type="button" id="back_update_profile" class="btn btn-primary" onclick="location.href = 'update_profile';"> Back to Update Profile </button>
						<button type="button" id="back_home" class="btn btn-primary" onclick="location.href = 'homepage';"> Back to Homepage </button>
					</div>
						
					
				</div>
			</div>
		</div>
	</div>
		
</body>
</html>