<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PAYMENT INFO</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--
        <link rel ="stylesheet" type="text/css" href="../css/product_style.css"/>
    -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript">
        function change(){
            
            document.getElementByClassName("cart px-sm-5 px-2").classList.toggle(" cart px-sm-5 px-2 bg-dark");
        };
        

        $(document).ready(function() {
            var sessionUser = JSON.parse( localStorage.getItem("sessionUser") );
            console.log(sessionUser);
            console.log ( JSON.stringify(sessionUser) );
        });
    </script>

</head>

<body>
    <div class ="container  py-4 my-3">
        <nav class="navbar navbar-inverse navbar-fixed-top">    
          <div class="container">
            <div class="navbar-header px-5">
              <a class="navbar-brand px-3" href="homepage">Home</a>
              <a class="navbar-brand px-3 " href="shoppingcart">Shopping Cart</a>
              <a class="navbar-brand px-3 " href="shippingdetails">Shipping Details</a>
              <a class="navbar-brand px-3 dis" href="#" ><b>Payment Options</b></a>
            </div>
          </div>
        </nav>

        <div class="container pl-5 " >
            <div class="progress align-middle " style="height:3px; width:50%">
                <div class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuenow="33" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
        </div>  
            
        <div class ="container bg-light py-5">

            <h4>Payment</h4>
            
            <form method ="post" action="paymentsuccess">
                <div class="form-check">    
                    <form>    
                        <div class="form-group pt-3">
                            <label class="form-label">Card Number</label>
                            <input type="text" class="form-control" placeholder="CardNumber" style="width:50%" required="true">
                        </div>
                        <div class="form-row pt-3">
                            <div class="col-sm" class="form-group">
                                <label class="form-label">Expiry</label>
                                <input type="text" width="50" class="form-control" placeholder="MM/YY"  style="width:25%" required="true">
                            </div>
                            
                            <div class="col-sm pb-3" class="form-group">
                                <label class="form-label">CCV</label>
                                <input type="text" width="50" class="form-control" style="width:25%"  required="true">
                            </div>
                        </div>

                        <div class="form-group pb-5">
                            <input type="text" class="form-control" placeholder="Card Holder Name" style="width:50%"  required="true">
                        </div>

                        <div class="float-right">
                            <button onclick="location.href = 'shippingdetails';" class="proceed btn-secondary ">PREVIOUS</button>
                            <button type="submit" class="paynow btn-secondary ">PAY NOW</button>
                        </div>
                    </form>
                </div>

            </form>
        </div>


    </div>    
    
</body>
</html> 