<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PAYMENT INFO</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--
        <link rel ="stylesheet" type="text/css" href="../css/product_style.css"/>
    -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript">
        function change(){
            
            document.getElementByClassName("cart px-sm-5 px-2").classList.toggle(" cart px-sm-5 px-2 bg-dark");
        };

        function clearForm() {
            $("input").val("");
        }

        $(document).ready(function() {
            var sessionUser = JSON.parse( sessionStorage.getItem("sessionUser") );
            //console.log(sessionUser);
            //console.log ( JSON.stringify(sessionUser) );
			console.log("shoppingCart: ", sessionUser.shoppingCart);
			// clean input validate msg
			$("#message_text").empty();
            

            $("#payment_type").change( function() {
                var paymentType = $(this).val().toLowerCase();
                if (paymentType === "card") {
                    $("#payment_ccv_label").show();
                    $("#payment_ccv").show();
                    $("#payment_expire_label").show();
                    $("#payment_expire").show();
                } else {
                    $("#payment_ccv_label").hide();
                    $("#payment_ccv").hide();
                    $("#payment_expire_label").hide();
                    $("#payment_expire").hide();
                }
            });
            
            
			
            // validate input before submitting POST-request
			$("#pay_now").click( function(event) {

				// clean input validate msg
				$("#message_text").empty();

				// validate input
                var paymentType = $("#payment_type").val().toLowerCase();
				var ownerName = $("#payment_name").val().trim();
				var paymentNumber = $("#payment_number").val().trim();
				var paymentExpire;
				var paymentSecureCode;

				const digits = /^[0-9]+$/;
				var anyErrors = false;
                
                // validate required field
				if ( ownerName === "" || paymentNumber === "" ) {
						$("#message_text").append("<p>Error: Owner Name & Account/Card Number! Please retry!</p>" );
						anyErrors = true;
				} else {

					// validate length of owner name field
					if (ownerName.length > 255){
						$("#message_text").append("<p>Error: Owner Name is too long! Max length is 255 characters!</p>" );
						anyErrors = true;
					}

                    // validate length of account/card number field
					if (paymentNumber.length > 255){
						$("#message_text").append("<p>Error: Account/Card Number is too long! Max length is 255 characters!</p>" );
						anyErrors = true;
					}

                    if (paymentType === "card") {
                        paymentExpire = $("#payment_expire").val();
                        paymentSecureCode = $("#payment_ccv").val().trim()
                        if (paymentExpire === "" || paymentSecureCode === "") {
                            $("#message_text").append("<p>Error: Card Expiration Date or CCV is empty! Please retry!</p>" );
						    anyErrors = true;
                        } else {
                            var expireMonth = new Date(paymentExpire).getMonth() + 3;
                            var expireYear = new Date(paymentExpire).getFullYear();
                            var expireDate = new Date(expireYear + "-" + expireMonth);
                            var todayDate = new Date();
                            if ( expireDate < todayDate ) {
                                $("#message_text").append("<p>Error: The Card you entered is already expired! Please enter an expire date that is after today!</p>" );
						        anyErrors = true;
                            }
                        }
                    } else {
                        paymentExpire = null;
                        paymentSecureCode = null;
                    }
                    

                    if (anyErrors) {
                        event.preventDefault();
                    } else {
                        var sessionUser = JSON.parse( sessionStorage.getItem("sessionUser") );
                        var paymentInfo = { paymentType : paymentType, ownerName : ownerName, accountNumber : paymentNumber, accountCode : paymentSecureCode, expireDate : paymentExpire };
                        sessionUser.paymentInfo = paymentInfo;
                        sessionStorage.setItem ("sessionUser", JSON.stringify(sessionUser) );

                        clearForm();
                        
                        // send POST-req to server
                        $.ajax({
                            method : "POST",
                            url : "/order/place_order",
                            data : sessionUser,
                            dataType: "json",
                            success: function(result){
                                $("#message_text").empty();
                                $("#message_text").html(result.message);

                                //clearForm();
                            },
                            error: function(xhr, status, err){
                                $("#message_text").empty();
                                var errorMsg = xhr.responseJSON.message;
                                $("#message_text").html(errorMsg);
                            }
					    })
                        
                    }
				
                
                }
		    });
            
        });

    </script>

</head>

<body>
    <div class ="container  py-4 my-3">
        <div>
            <nav class="navbar navbar-inverse navbar-fixed-top">    
                <div class="container">
                  <div class="navbar-header px-5">
                    <a class="navbar-brand px-3" href="homepage">Home</a>
                    <a class="navbar-brand px-3 " href="shoppingcart">Shopping Cart</a>
                    <a class="navbar-brand px-3 " href="shippingdetails">Shipping Details</a>
                    <a class="navbar-brand px-3 dis" href="#" ><b>Payment Options</b></a>
                  </div>
                </div>
              </nav>
        </div>
        
        <div class="container pl-5" >
            <div class="progress align-middle " style="height:3px; width:50%">
                <div class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuenow="33" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
        </div>  
            
        <div class ="container bg-light py-5">
            <h3>Payment:</h3>
                <div class="form-check">
                    <div class="form-group pt-3 pb-3">
                        <label class="form-label" for="payment_type">Payment Type</label>
                        <select type="text" class="form-control" name="payment_type" id="payment_type"
                            style="width:50%" required="true">
                            <option value="card" selected>Debit/Credit Card</option>
                            <option value="account">Checking/Payment Account</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="payment_name">Owner Name</label>
                        <input type="text" class="form-control" name="payment_name" id="payment_name" style="width:50%" 
                            placeholder="Card or Account Owner Name" required="true">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="payment_number">Card or Account Number</label>
                        <input type="text" class="form-control" name="payment_number" id="payment_number"
                            placeholder="Card or Account Number" style="width:50%" required="true">
                    </div>

                    <div class="form-row pt-3 pb-5">
                        <div class="col-sm" class="form-group">
                            <label class="form-label" for="payment_expire" name="payment_expire_label" id="payment_expire_label">Expire</label>
                            <input type="month" class="form-control" name="payment_expire" id="payment_expire"
                                style="width:35%" required="true">
                        </div>
                        
                        <div class="col-sm" class="form-group">
                            <label class="form-label" for="payment_ccv" ame="payment_cvv_label" id="payment_ccv_label">CCV</label>
                            <input type="text" class="form-control" name="payment_cvv" id="payment_ccv"
                                width="50" style="width:25%"  required="true">
                        </div>
                    </div>             

                    <div class="align">
                        <h3 id="message_text"></h3>
                    </div>

                    <div class="float-right">
                        <button type="button" class="cancel btn-secondary" name="payment_home" id="payment_home" 
                            onclick="location.href='homepage';">HOMEPAGE</button>
                        <button type="button" class="cancel btn-secondary" name="payment_back" id="payment_back"
                            onclick="location.href = 'shippingdetails';" class="proceed btn-secondary ">PREVIOUS</button>
                        <button type="submit" class="paynow btn-primary" name="pay_now" id="pay_now">PAY NOW</button>
                    </div>
                    
                </div>
        </div>

    </div>    
    
</body>
</html> 