<!DOCTYPE html>
<html>
<head>
    <title>Automobiles</title>

    <style>
        table { width: 100%; }
        td { 
            border: solid 5px #DDD;
            border-collapse: collapse; 
            padding: 2px 3px;
            width: 50%;
			text-align: center;
        }
    </style>
</head>

<body onload="createTable()">
    <div id="add">
</div>
</body>

<script>
    function createTable() {
        var prod_img=document.createElement('table');
        var table_row= prod_img.insertRow(-1);
        var table_cell = document.createElement('td');
        table_cell=table_row.insertCell(0);
        var img=document.createElement('img');
        img.src=localStorage.getItem('image');
        table_cell.appendChild(img);
        var table_cell1 = document.createElement('td');
        table_cell1=table_row.insertCell(1);
        var label = document.createElement('Label');
        label.innerHTML = "<b>PRICE</b>";

        var price=document.createElement('p');
        var value= document.createTextNode(localStorage.getItem('txtvalue'));
        var button= document.createElement('button');
        button.innerHTML="Add to Cart";
        price.appendChild(value);
        table_cell1.appendChild(label);
        table_cell1.appendChild(price);
        table_cell1.appendChild(button);
        button.onclick= function() {
            var label1 = document.createElement('Label');
            label1.innerHTML = "<b>ADDED TO CART</b>";
            button.remove();
            table_cell1.appendChild(label1);
        }

        var table_row1= prod_img.insertRow(-1);

        var table_cellr1 = document.createElement('td');
        table_cellr1=table_row1.insertCell(0);
        var desc=document.createElement('p');
        desc.innerHTML=localStorage.getItem('description');
        table_cellr1.appendChild(desc);


        document.getElementById('add').appendChild(prod_img);

        };

    </script>
</html>