<!DOCTYPE html>
<html>
<head>
    <title>View Item Details</title>

    <link rel ="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>

    <style>
        table { width: 100%; }
        td { 
            border: solid 5px #DDD;
            border-collapse: collapse; 
            padding: 2px 3px;
            width: 50%;
			text-align: center;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>

        function searchItem() {
            let searchValue = $("#search_value").val().trim();
            sessionStorage.setItem("searchValue", searchValue);
            location.href="product_search";
        }

        function displayProduct( product ) {
            var sessionUser = JSON.parse(sessionStorage.getItem("sessionUser"));
            var shoppingCart = sessionUser.shoppingCart;

            var prod_img= document.createElement('table');

            var table_row= prod_img.insertRow(-1);
            var table_cell= document.createElement('td');
            table_cell= table_row.insertCell(0);
            
            var img= document.createElement('img');
            if (product.productImage) {
                img.src= "../../" + product.productImage;
            } else {
                img.src= "../img/imagenotavailable.png";
            }
            
            img.height = 300;
            table_cell.appendChild(img);
            
            var table_cell1 = document.createElement('td');
            table_cell1= table_row.insertCell(1);
            
            var labelPrice= document.createElement('label');
            labelPrice.innerHTML= "<b>PRICE</b>";
            var price= document.createElement('p');
            price.innerHTML= product.price;
            //var value=document.createTextNode(product.price);
            //price.appendChild(value);
            table_cell1.appendChild(labelPrice);
            table_cell1.appendChild(price);

            var labelQuantity= document.createElement('label');
            labelQuantity.innerHTML= "<b>Remaining Quantity in Stock</b>";
            
            var remainingQuantity= document.createElement('p');
            remainingQuantity.innerHTML= product.remainingQuantity;
            table_cell1.appendChild(labelQuantity);
            table_cell1.appendChild(remainingQuantity);

            var addQuantity= document.createElement("input");
            addQuantity.type= "number";
            addQuantity.value= 1;
            table_cell1.appendChild(addQuantity);
            var labelNote= document.createElement('label');
            labelNote.innerHTML= "";
            table_cell1.appendChild(labelNote);

            var addButton= document.createElement('button');
            //addButton.className= "btn btn-primary";
            addButton.innerHTML= "Add to Cart";
            table_cell1.appendChild(addButton);

            var removeButton= document.createElement('button');
            //removeButton.className= "btn btn-primary";
            removeButton.innerHTML= "Remove from Cart";
            table_cell1.appendChild(removeButton);
            
            var quantityInCart = 0;
            if (product.isRemoved) {
                addButton.disabled = true;
                labelNote.innerHTML= "This product has been removed due to some regulation! Add to Cart has been disabled!";
                quantityInCart= 0;
            } else if (product.remainingQuantity < 1) {
                addButton.disabled = true;
                labelNote.innerHTML= "This product is not available/out of stock!";
                quantityInCart= 0;
            } else if (shoppingCart[product.productID]) {
                //alert("product in cart");
                quantityInCart= shoppingCart[product.productID].quantity;
            } else {
                quantityInCart= 0;
            }
            
            
            var labelQuantityInCartLabel= document.createElement('p');
            labelQuantityInCartLabel.innerHTML= "<b>Quantity in Cart: </b>";
            table_cell1.appendChild(labelQuantityInCartLabel);
            var labelQuantityInCart= document.createElement('p');
            labelQuantityInCart.innerHTML= quantityInCart;
            table_cell1.appendChild(labelQuantityInCart);

            addButton.onclick= function() {            
                quantityInCart += parseInt(addQuantity.value);
                if (quantityInCart >= product.remainingQuantity) {
                    quantityInCart = product.remainingQuantity;
                    addButton.disabled = true;
                }
                if (quantityInCart > 0) {
                    removeButton.disabled = false;
                    shoppingCart[product.productID] = { productName: product.productName, productImage: product.productImage, price: product.price, quantity: quantityInCart};
                } else {
                    delete shoppingCart[product.productID];
                }
                
                sessionUser.shoppingCart = shoppingCart;
                sessionStorage.setItem( "sessionUser" , JSON.stringify(sessionUser) );
                labelQuantityInCart.innerHTML= quantityInCart;
            }

            removeButton.onclick= function() {            
                quantityInCart -= parseInt(addQuantity.value);
                if (quantityInCart < 1) {
                    quantityInCart = 0;
                    delete shoppingCart[product.productID];    
                    removeButton.disabled = true;
                } else {    
                    shoppingCart[product.productID] = { productName: product.productName, productImage: product.productImage, price: product.price, quantity: quantityInCart};    
                }
                if (quantityInCart < product.remainingQuantity) {
                    addButton.disabled = false;
                }

                sessionUser.shoppingCart = shoppingCart;
                sessionStorage.setItem( "sessionUser" , JSON.stringify(sessionUser) );
                labelQuantityInCart.innerHTML= quantityInCart;
            }
            

            var table_row1= prod_img.insertRow(-1);

            var table_cellr1 = document.createElement('td');
            table_cellr1=table_row1.insertCell(0);

            var productName = document.createElement('h3');
            productName.innerHTML= "Item Name: " + product.productName;
            table_cellr1.appendChild(productName);
            
            var productCategory = document.createElement('h4');
            productCategory.innerHTML= "Category: " + product.productCategory;
            table_cellr1.appendChild(productCategory);

            var desc=document.createElement('p');
            desc.innerHTML="Item Description: " + product.productDescription;
            table_cellr1.appendChild(desc);

            

            var table_cellr2= table_row1.insertCell(1);

           
            var checkoutButton= document.createElement("button");
            checkoutButton.className= "btn btn-primary";
            checkoutButton.innerHTML= "View Cart & Checkout";
            checkoutButton.onclick= function() {
                location.href="shoppingcart";
            }
            table_cellr2.appendChild(checkoutButton);

            var lineBreak= document.createElement("p");
            table_cellr2.appendChild(lineBreak);
            var backButton= document.createElement("button");
            backButton.className= "btn btn-primary";
            backButton.innerHTML= "Back to Product Listing";
            backButton.onclick= function() {
                sessionStorage.setItem("viewListingCategory", product.productCategory);
                location.href="product_listing";
            }
            table_cellr2.appendChild(backButton);

            var lineBreak2= document.createElement("p");
            table_cellr2.appendChild(lineBreak2);
            var homeButton= document.createElement("button");
            homeButton.className= "btn btn-primary";
            homeButton.innerHTML= "Back to HomePage";
            homeButton.onclick= function() {
                location.href="homepage";
            }
            table_cellr2.appendChild(homeButton);

            document.getElementById('viewContainer').appendChild(prod_img);

        };

        $(document).ready(function() {
            
            var sessionUser = JSON.parse(sessionStorage.getItem("sessionUser"));
            
            if (sessionUser.is_admin == true) {
                $("#admin_page").show();
            } else {
                $("#admin_page").hide();
            }

            var viewProductID = sessionStorage.getItem("viewProductID");
        
            $.ajax({
                method : "GET",
                url: "/product/id/" + viewProductID,
                dataType: "json",
                success: function(result){
                    displayProduct( result.product )
                },
                error: function(xhr, status, err){
                    $("#message_text").empty();
                    var errorMsg = xhr.responseJSON.message;
                    $("#message_text").html(errorMsg);
                    console.log(errorMsg);
                }
            });
        });
    </script>

</head>

<body>
    <div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="homepage">Market Place</a>
                <button class="navbar-toggler" type="button" 
                data-toggle="collapse" data-target="#navbarNav" 
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                        <a class="nav-link" href="homepage">Home 
                        </a>
                        </li>
                
                        <li class="nav-item">
                        <a class="nav-link" href="update_profile">Update profile</a>
                        </li>
                
                        <li class="nav-item">
                        <a class="nav-link" href="order_history">Order History</a>
                        </li>
                
                        <li class="nav-item">
                        <a class="nav-link" href="shoppingcart">Shopping cart</a>
                        </li>
                
                        <li class="nav-item">
                        <a class="nav-link " href="sell_items">Selling items</a>
                        </li>
                
                        <li class="nav-item">
                        <a class="nav-link " href="logout">Logout</a>
                        </li>
                
                        <li class="nav-item" name="admin_page" id="admin_page">
                        <a class="nav-link" href="admin/admindashboard">Admin Page</a>
                        </li>
                    </ul>
                </div>

                <div class="form-inline">
                    <input type="search" class="form-control mr-sm-2" name="search_value" id="search_value" 
                      placeholder="Search" aria-label="Search">
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0" name="search_submit" id="search_submit"
                      onclick="searchItem()">Search</button>
                </div>
            </nav>
            <br/>
            
        </div>

        <div id="viewContainer">
        </div>

        <div class="align">
            <h3 id="message_text"></h3>
        </div>
    </div>
</body>

</html>