<!DOCTYPE html>
<html>
<head>
    <title>Automobiles</title>

    <style>
        table { width: 100%; }
        td { 
            border: solid 5px #DDD;
            border-collapse: collapse; 
            padding: 2px 3px;
            width: 50%;
			text-align: center;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body>
    <div id="viewContainer">
    </div>
    <div class="align">
        <h3 id="message_text"></h3>
    </div>
</body>

<script>


    $(document).ready(function() {
        var productID = localStorage.getItem(productID);
        
        $.ajax({
            method : "GET",
            url: "/product/id/" + productID,
            dataType: "json",
            success: function(result){
                alert("GET success!");
                var storedCartID = result.user.username + "__ShoppingCart";
                var shoppingCart = JSON.parse(localStorage.getItem(storedCartID));
                displayProduct( result.product, shoppingCart )
            },
            error: function(xhr, status, err){
                $("#message_text").empty();
                var errorMsg = xhr.responseJSON.message;
                $("#message_text").html(errorMsg);
                console.log(errorMsg);
            }
        });
    });

    function displayProduct( product, cart ) {
        var prod_img= document.createElement('table');

        var table_row= prod_img.insertRow(-1);
        var table_cell= document.createElement('td');
        table_cell= table_row.insertCell(0);
        
        var img= document.createElement('img');
        img.src= "../../" + product.productImage;
        img.height = 400;
        table_cell.appendChild(img);
        
        var table_cell1 = document.createElement('td');
        table_cell1= table_row.insertCell(1);
        
        var labelPrice= document.createElement('label');
        labelPrice.innerHTML= "<b>PRICE</b>";
        var price= document.createElement('p');
        price.innerHTML= product.price;
        //var value=document.createTextNode(product.price);
        //price.appendChild(value);
        table_cell1.appendChild(labelPrice);
        table_cell1.appendChild(price);

        var labelQuantity= document.createElement('label');
        labelQuantity.innerHTML= "<b>Remaining Quantity in Stock</b>";
        
        var remainingQuantity= document.createElement('p');
        remainingQuantity.innerHTML= product.remainingQuantity;
        table_cell1.appendChild(labelQuantity);
        table_cell1.appendChild(remainingQuantity);

        var addQuantity= document.createElement("input");
        addQuantity.type= "number";
        addQuantity.value= 1;
        table_cell1.appendChild(addQuantity);
        var labelNote= document.createElement('label');
        labelNote.innerHTML= "";
        table_cell1.appendChild(labelNote);

        var addButton= document.createElement('button');
        addButton.innerHTML= "Add to Cart";
        table_cell1.appendChild(addButton);
        var removeButton= document.createElement('button');
        removeButton.innerHTML= "Remove from Cart";
        table_cell1.appendChild(removeButton);
        
        var quantityInCart = 0;
        if (product.isRemoved) {
            addButton.disabled = true;
            labelNote.innerHTML= "This product has been removed due to some regulation! Add to Cart has been disabled!";
            quantityInCart = 0;
        } else if (product.remainingQuantity < 1) {
            addButton.disabled = true;
            labelNote.innerHTML= "This product is not available/out of stock!";
            quantityInCart = 0;
        } else if (cart[product.productID]) {
            quantityInCart = cart[product.productID];
        } else {
            quantityInCart = 0;
        }
        
        var labelQuantityInCartLabel= document.createElement('label');
        labelQuantityInCartLabel.innerHTML = "<p><b>Quantity in Cart: </b></p>";
        table_cell1.appendChild(labelQuantityInCartLabel);
        var labelQuantityInCart= document.createElement('label');
        labelQuantityInCart.innerHTML= quantityInCart;
        table_cell1.appendChild(labelQuantityInCart);

        addButton.onclick= function() {            
            quantityInCart += addQuantity.value;
            if (quantityInCart >= product.remainingQuantity) {
                quantityInCart = product.remainingQuantity;
                addButton.disabled = true;
            }
            if (quantityInCart > 0) {
                removeButton.disabled = false;
            }
            labelQuantityInCart.innerHTML= quantityInCart;
        }

        removeButton.onclick= function() {            
            quantityInCart -= addQuantity.value;
            if (quantityInCart < 1) {
                quantityInCart = 0;
                removeButton.disabled = true;
            } 
            if (quantityInCart < product.remainingQuantity) {
                addButton.disabled = false;
            }
            labelQuantityInCart.innerHTML= quantityInCart;
        }
        

        var table_row1= prod_img.insertRow(-1);

        var table_cellr1 = document.createElement('td');
        table_cellr1=table_row1.insertCell(0);

        var productName = document.createElement('h3');
        productName.innerHTML= "Item Name: " + product.productName;
        table_cellr1.appendChild(productName);
        
        var productCategory = document.createElement('h4');
        productCategory.innerHTML= "Category: " + product.productCategory;
        table_cellr1.appendChild(productCategory);

        var desc=document.createElement('p');
        desc.innerHTML="Item Description: " + product.productDescription;
        table_cellr1.appendChild(desc);

        document.getElementById('viewContainer').appendChild(prod_img);

        };

    </script>
</html>