<html>
<head>
	<title> New User Registration </title>
	<link rel ="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
	<link rel ="stylesheet" type="text/css" href="../css/style.css"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
		//
		$(document).ready(function() {
			
			// clean URL
			var url = window.location.toString();
			if (url.indexOf("?") > 0) {
				var clean_url = url.substring(0, url.indexOf("?"));
				window.history.replaceState({}, document.title, clean_url);
			}
			
			// clean input validate msg
			$("#message_text").empty();

			// validate input before submitting POST-request
			$("#register_submit").click( function(event) {

				// clean input validate msg
				$("#message_text").empty();

				// validate input
				var username = $("#username").val().trim();
				var userPassword = $("#password").val().trim();
				var confirmPassword = $("#confirm_password").val().trim();
				var userPhone = $("#phone_num").val().trim();
				var userEmail = $("#email").val().trim();
				var firstName = $("#first_name").val().trim();
				var lastName = $("#last_name").val().trim();

				const emailForm = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
				const digits = /^[0-9]+$/;
				var anyErrors = false;

				if ( username === "" || userPassword === "" || confirmPassword === "" || userPhone === "" || userEmail === "" || firstName === "" || lastName === "" ) {
						$("#message_text").append("<p>Error: All fields are Required! Please retry!</p>" );
						anyErrors = true;
				} else {

					// validate length of username field
					if (username.length < 4 || username.length > 50){
						$("#message_text").append("<p>Error: Username must be between 4 and 50 characters!</p>" );
						anyErrors = true;
					}

					// validate length of first & last names
					if (firstName.length > 50 || lastName.length > 50){
						$("#message_text").append("<p>Error: First & Last Name cannot be more than 50 characters!</p>" );
						anyErrors = true;
					}

					// validate length of password field
					if (userPassword.length < 6){
						$("#message_text").append("<p>Error: Password must be at least 6 characters!</p>" );
						anyErrors = true;
					}
					// validate password match
					if (userPassword !== confirmPassword){
						$("#message_text").append("<p>Error: Password & Confirm Password do not match!</p>" );
						anyErrors = true;
					}

					// validate phone number contains only numbers
					if (!digits.test(userPhone)){
						$("#message_text").append("<p>Error: Phone Number must contain only digits!</p>" );
						anyErrors = true;
					}
					// validate length of phone number
					if (userPhone.length > 10){
						$("#message_text").append("<p>Error: Phone Number cannot be longer than 10 digits!</p>" );
						anyErrors = true;
					}

					// validate email in valid format
					if (!emailForm.test(userEmail)){
						$("#message_text").append("<p>Error: Invalid Email format! Please enter a valid email in the form 'abc@abc.xyz'!</p>" );
						anyErrors = true;
					}
					// validate length of email address
					if (userEmail.length > 255){
						$("#message_text").append("<p>Error: Email Address cannot be more than 255 characters!</p>" );
						anyErrors = true;
					}

				}

				// if error, prevent submit
				if (anyErrors){
					event.preventDefault();
				} else {
					// no error, submit POST-request
					$.ajax({
						method : "POST",
						url : "/register",
						data : {
							username: username,
							password: userPassword,
							phone: userPhone,
							email: userEmail,
							firstName: firstName,
							lastName: lastName
						},
						dataType: "json",
						success: function(result){
							$(location).attr("href", "homepage.html");
						},
						error: function(xhr, status, err){
							$("#message_text").empty();
							var errorMsg = xhr.responseJSON.message;
							$("#message_text").html(errorMsg);
						}
					});
				}				
			} );
		});			
	</script>

</head>

<body>
	<div class="container">
		<div >
			<div class ="row center-screen" >
				<div class ="col-md-6 ">
					<h2> REGISTER </h2>
					<div>
						<div class="form-group ">
							<label for="username">Username</label>
							<input type ="text" name ="username" id="username" class="form-control" required>
						</div>

						<div class="form-group ">
							<label for="first_name">First Name</label>
							<input type ="text" name ="first_name" id="first_name" class="form-control" required>
						</div>
						
						<div class="form-group ">
							<label for="last_name">Last Name</label>
							<input type ="text" name ="last_name" id= "last_name" class="form-control" required>
						</div>
						
						<div class="form-group ">	
							<label for="phone_num">Phone Number</label>
							<input type ="text" name ="phone_num" id="phone_num" class="form-control" required>
						</div>
						
						<div class="form-group ">	
							<label for="email">Email Address</label>
							<input type ="text" name ="email" id="email" class="form-control" required>
						</div>
						
						<div class="form-group ">	
							<label for="password">Password</label>
							<input type ="password" name ="password" id="password" class="form-control" required>
						</div>
						
						<div class="form-group ">	
							<label for="confirm_password">Confirm Password</label>
							<input type ="password" name ="confirm_password" id="confirm_password" class="form-control" required>
						</div>
						
						<div class="align">
							<h3 id="message_text"></h3>
						</div>

						<div>
							<button type="submit" id="register_submit" class="btn btn-primary"> Register </button>
							<button type="button" id="back" class="btn btn-primary" onclick="location.href = 'login';"> Back to Login </button>
						</div>
						
	
					</div>

					
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>